<!DOCTYPE html>
<html>
<head>
  <title>Pass2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page-header">
  <div id="user_status">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong> with <%= current_user.email%>
      <a href="/users/signout" id="signout">Sign Out</a>
    <% else %>
      <a href="/auth/google_oauth2" id="signin">Sign in with Google</a>
    <% end %>
  </div>
  
  <a href="/">Home</a>
</div>

<%= yield %>

</body>
</html>
